---
layout: archive
title: "Talks & Presentations"
description: "Conference presentations, posters and outreach activities by Anderson Sabogal in accelerator technology, fusion engineering and experimental research."
permalink: /talks/
author_profile: false
---

A selection of conference presentations, posters and outreach activities related to accelerator technology, fusion engineering and experimental research.

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
